// Mixins Here

//Flexbox
.flex(@justify:center, @wrap: nowrap, @direction: row, @align: center){
    display: flex;
    justify-content: @justify;
    flex-flow: @direction @wrap;
    align-content: @align;
}

.button(@font-color: white; @btn-color: black; @font-size: 1.0rem; @btn-width:100px; @border: 10px; @padding:20px){
    color:@font-color;
    background: @btn-color;
    border-radius: @border;
    padding: @padding;
    font-size: @font-size;
    width: @btn-width;
}